@media (min-width:320px) and (max-width:800px) {
    :root {
        text-align: justify;
    }
    .container-post {
        margin: 3% 5% 3% 5%;
        border: 2px dashed var(--c-color-g);
        border-radius: 15px;
        padding: 1%;
    }
    .container-two-post {
        display: grid;
    }
    .latex > p {
        text-align: center;
        font-family: var(--fontEphesis);
        font-size: 1.6em;
    }
    /*Para los tags del blog*/
    #row-tags-post {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: normal;
        gap: 2px;
    }
    #row-tags-post > div:nth-child(6) > p, #row-tags-post > div:nth-child(5) > p {
        margin-bottom: 5px;
        margin-top: -10px;
    }
    .tag-post {
        border: 2px solid var(--c-color-i);
        border-radius: 5px;
        padding: 5px;
        background-color: var(--c-color-a);
        font-family: monospace;
        color: var(--c-color-p);
        font-weight: bold;
    }
    .der-container, .izq-container {
        padding: 5%;
    }
    .izq {
        order: 2;
        flex: 1 1 auto;
    }
    .der {
        order: 1;
        flex: 1 1 auto;
    }
    q {
        color: var(--c-color-d);
    }
    .center {
        text-align: center;
    }
    ul > li {
        font-family: var(--fontMontserrat);
    }
    .decoration {
        text-decoration-line: underline;
        quotes: initial
    }
    .quotes {
        quotes: initial;
    }
    a:active {
        color: var(--c-color-o);
    }
    summary {
        font-family: 'Grobe deutch';
        color: var(--c-color-o);
        font-size: x-large;
    }
    u {
        text-decoration: solid underline var(--c-color-c) 3px;
    }
    .l-table {
        border: 4px solid var(--c-color-o);
        border-radius: 5px;
        margin: 0 auto 0 auto;
        font-family: var(--fontMontserrat);
    }
    .l-table tr th {
        text-align: center;
        padding: 5%;
        border-bottom: 2px solid var(--c-color-p);
    }
    .l-table tr td {
        border-bottom: 2px solid var(--c-color-g);
    }
    i {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    .l-container {
        margin: 2%;
        display: flex;
        justify-content: center;
    }
    .latex-a {
        margin: 0 0 0 0;
        font-family: var(--fontMontserrat);
        text-decoration: underline wavy var(--c-color-c);
    }
}
@media (max-width:800px) {
    #row-tags-post > div:nth-child(5) {
        margin-top: 0;
    }
} 
@media (min-width:412px) and (max-width:915px) {
    #row-tags-post > div:nth-child(5) {
        margin-top: 22px;
    }
}   
@media (min-width:384px) and (max-width:854px) {
    #row-tags-post > div:nth-child(5) {
        margin-top: 22px;
    }
}
@media (min-width:375px) and (max-width:812px) {
    #row-tags-post > div:nth-child(5) {
        margin-top: 22px;
    }
}
@media (min-width:800px) and (max-width:1280px) {
    #row-tags-post > div:nth-child(6) {
        margin-top: 22px;
    }
}
@media (min-width:810px) and (max-width:1080px) {
    #row-tags-post > div:nth-child(6) > p, #row-tags-post > div:nth-child(5) > p {
        margin-bottom: 5px;
        margin-top: -10px;
    }
    .container-post {
        margin: 3% 5% 3% 5%;
        border: 2px dashed var(--c-color-g);
        border-radius: 15px;
        padding: 1%;
    }
    .container-two-post {
        display: grid;
    }
    #row-tags-post {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: normal;
        gap: 2px;
    }
    .tag-post {
        border: 2px solid var(--c-color-i);
        border-radius: 5px;
        padding: 5px;
        background-color: var(--c-color-a);
        font-family: monospace;
        color: var(--c-color-p);
        font-weight: bold;
    }
    .der-container, .izq-container {
        padding: 5%;
    }
    .izq {
        order: 2;
        flex: 1 1 auto;
    }
    .der {
        order: 1;
        flex: 1 1 auto;
    }
    q {
        color: var(--c-color-d);
    }
    .center {
        text-align: center;
    }
    ul > li {
        font-family: var(--fontMontserrat);
    }
    .decoration {
        text-decoration-line: underline;
        quotes: initial
    }
    .quotes {
        quotes: initial;
    }
    a:active {
        color: var(--c-color-o);
    }
    
}