@media (min-width: 1200px) {
    .container-post {
        margin: 3% 5% 3% 5%;
        border: 2px dashed var(--c-color-g);
        border-radius: 15px;
        padding: 1%;
    }
    .container-two-post {
        display: flex;
    }
    #row-tags-post {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: normal;
        gap: 2px;
    }
    #row-tags-post > div:nth-child(6) > p, #row-tags-post > div:nth-child(5) > p {
        margin-bottom: 5px;
        margin-top: -10px;
    }
    .tag-post {
        border: 2px solid var(--c-color-i);
        border-radius: 5px;
        padding: 5px;
        background-color: var(--c-color-a);
        font-family: monospace;
        color: var(--c-color-p);
        font-weight: bold;
    }
    .der-container, .izq-container {
        padding: 5%;
    }
    .izq {
        order: 1;
        flex: 1 1 70%;
    }
    .der {
        order: 2;
        flex: 1 1 30%;
    }
    q {
        color: var(--c-color-d);
    }
    .center {
        text-align: center;
    }
    summary {
        font-family: 'Grobe deutch';
        color: var(--c-color-o);
        font-size: x-large;
        cursor: pointer;
    }
    u {
        text-decoration: solid underline var(--c-color-c) 3px;
    }
    ol {
        font-family: var(--fontMontserrat);
    }
    .latex > p {
        text-align: center;
        font-family: var(--fontEphesis);
        font-size: 1.6em;
    }
    /*CANVAS*/
    #p4 {
        
        margin-left: 10%;
    }
}