<footer>
  <div class="container-column-total">
    <div class="container-row">
      <div class="column2">
        <div class="container-row">
          <div class="column3">
            <h3 class="padding-left-right-5">{{page.footer-titulo1}}</h3>
            <ul>
              <li><a href="/blog/blog.html">{{page.footer1-2}}</a></li>
              <li><a href="/about/">{{page.footer1-1}}</a></li>
              <li><a href="/contact/">{{page.footer1-3}}</a></li>
            </ul>
          </div>
          <div class="column3">
            <h3 class="padding-left-right-5">{{page.footer-titulo2}}</h3>
            <ul>
              <li><a href="/termconditions/">{{page.footer2-1}}</a></li>
              <li><a href="/privacypolicy/">{{page.footer2-2}}</a></li>
            </ul>
          </div>
          <div class="column3">
            <h3 class="padding-left-right-5">{{page.footer-titulo3}}</h3>
            <ul>
              <li><a>{{page.footer3-1}}</a></li>
              <li><a>{{page.footer3-2}}</a></li>
              <li><a>{{page.footer3-3}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column2">
        7
      </div>
    </div>
  </div>
  <section id="logo-copy">
    <div class="container-column-total">
      <img class="center-text image-width-10 center-everything" src="{{page.logo11}}">
      <p class="center-text">&#169; {{page.copyright2}} <span class="love"><img src="{{page.love}}"></span> 
        {{page.copyright1}} <br>última actualización 13.octubre.2021</p>
    </div>
  </section>
</footer>