 <!--
    <nav id="site-navigation" class="site-navigation" aria-label="Clickable Menu Demonstration">
    <ul class="main-menu clicky-menu no-js">
      <li>
        <a class="home" href="/">{{page.section0}}</a>
      </li>
      <li>
        <a href="/">{{page.section1}}</a>
      </li>
      <li>
        <a href="/about/">{{page.section2}}</a>
      </li>
      <li>
        <a href="/blog/blog.html">{{page.section3}}</a>
      </li>
      <li>
        <a href="/contact/">{{page.section4}}</a>
      </li>
    </ul>
  </nav>
  -->
  <nav id="nav" class="nav">
  <div class="container-nav">
    <div class="nav-title">Creative AML</div>
    <div class="nav-features nav-o">
      <div>Home</div>
      <div>About me</div>
      <div>Contact me</div>
    </div>
  </div>
  </nav>
  