<svg xmlns="http://www.w3.org/2000/svg"  hidden>
    <symbol id="arrow" viewbox="0 0 16 16" >
      <polyline points="4 6, 8 10, 12 6" stroke="#000" stroke-width="2" fill="transparent" stroke-linecap="round" />
    </symbol>
  </svg>
  <nav id="site-navigation" class="site-navigation" aria-label="Clickable Menu Demonstration">
    <ul class="main-menu clicky-menu no-js">
      <li>
        <a class="home" href="/">{{page.section0}}</a>
      </li>
      <li>
        <a href="/">{{page.section1}}</a>
      </li>
      <li>
        <a href="/about/">{{page.section2}}</a>
      </li>
      <li>
        <a href="/blog/blog.html">{{page.section3}}</a>
      </li>
      <li>
        <a href="/contact/">{{page.section4}}</a>
      </li>
    </ul>
  </nav>