  <div class="container-column-nav">
    <div class="container-nowrap nav-aml">
      <div class="column4 center-text tags-margin"><a href="/" class="">{{page.returnHome}}</a></div>
      <div class="column4 center-text tags-margin"><a href="#" class="">{{page.category1}}</a></div>
      <div class="column4 center-text tags-margin"><a href="#" class="">{{page.category2}}</a></div>
      <div class="column4 center-text tags-margin"><a href="#" class="">{{page.category4}}</a></div>
    </div>
  </div>