@media (min-width: 1200px) {
    #logo-copy {
        margin: -15% 0 0 -50%;
        align-items: left;
    }
    ul {
        list-style-type: square;
    }
    ul {
        font-family: var(--fontMontserrat);
    }
    .love > img {
        width: 10px;
    }
    .logoF {
        width: 7%;
    }
    .logoJ {
        margin: 0 0 1% 46%;
        width: 7%;
    }
}
@media only screen and (max-width: 650px) {
    #logo-copy > div > img {
        width: 50%;
        margin: 0 0 0 25%;
    }
    /*.ima.logoJ {
        margin: 0 0 1% 46%;
        width: 7%;
    }*/
    .center-everything {
        align-self: center;
    }
    .love > img {
        height: 20px;
    }
    .logoJ {
        margin: 0 0 0 22%;
        width: 50%;
    }
}
