@media only screen and (min-device-width:1200px) {
  #nav {
    margin: 0;
    font-family: 'Grobe deutch';
    font-size: 1.5em;
    padding: 1%;
  }
  .nav-a {
    border-bottom: 2px solid var(--c-color-g);
    padding: 15px;
    font-family: 'Grobe deutch';
    font-size: 1.6rem;
    background-image: var(--image-back);
    object-fit: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    background-color:#900603;
    background-blend-mode: difference;
  }
  .nav-a-l {
    color: var(--color-white);
  }
  .nav {
    box-shadow: 1px 1px 3px 1px	#900603;
    background-color:  	#fcfcfc;
    border-bottom: 2px solid #c7cec4;
  }
  .container-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  .nav-features {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
  }
  .nav-title {
    order: 1;
    flex: 1 1 auto;
  }
  .nav-o {
    order: 2;
    flex: 1 1 auto;
  }
  .nav-features > div:nth-child(1) {
    order: 1;
    flex: 1 1 auto;
  }
  .nav-features > div:nth-child(2) {
    order: 2;
    flex: 1 1 auto;
  }
  .nav-features > div:nth-child(3) {
    order: 3;
    flex: 1 1 auto;
  }
}
@media (min-width: 320px) and (max-width: 809px) {
  #nav {
    margin: 0;
    font-family: 'Grobe deutch';
    font-size: 1.2em;
    padding: 1%;
    text-align: center;
  }
  .nav-a {
    border-bottom: 2px solid var(--c-color-g);
    padding: 15px;
    font-family: 'Grobe deutch';
    font-size: 1.6rem;
    background-image: var(--image-back);
    object-fit: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    background-color:#900603;
    background-blend-mode: hard-light;
  }
  .nav-a-l {
    color: var(--color-white);
  }
  .nav {
    box-shadow: 1px 1px 3px 1px	#900603;
    background-color:  	#fcfcfc;
    border-bottom: 2px solid #c7cec4;
  }
  .container-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  .nav-features {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
  }
  .nav-title {
    order: 1;
    flex: 1 1 auto;
  }
  .nav-o {
    order: 2;
    flex: 1 1 auto;
  }
  .nav-features > div:nth-child(1) {
    order: 1;
    flex: 1 1 auto;
  }
  .nav-features > div:nth-child(2) {
    order: 2;
    flex: 1 1 auto;
  }
  .nav-features > div:nth-child(3) {
    order: 3;
    flex: 1 1 auto;
  }
}
