:root {
    --font-kant: 'Kanit', sans-serif;
    --font-frederika: 'Fredericka the Great', cursive;
    --font-bungeeShade: 'Bungee Shade', cursive;
    --color-white: #ffffff;
    --color-border-light: #f3e5f5;
    --color-button-yellow: #fbc02d;
    --color-button-yellow-light: #fff263;
    --color-black: #000000;
    --background-header: var(--c-color-e);

    /*GRADIENTS*/
    --background-gradient-a: linear-gradient(-45deg, rgba(196,2,173,1) 0%, rgba(254,197,25,1) 100%);
    --background-gradient-b: linear-gradient(-45deg, #FF7B02 0%, #FFCB52 100%);
    --background-gradient-c: linear-gradient(-45deg, #C165DD 0%, #5C27FE 100%);
    --background-gradient-d: linear-gradient(-45deg, #1DE5E2 0%, #B588F7 100%);
    --background-gradient-e: linear-gradient(-45deg, #FACD68 0%, #FC76B3 100%);
    --background-gradient-f: linear-gradient(-45deg, #2AFEB7 0%, #08C792 100%);
    --background-gradient-g: linear-gradient(-45deg, #5581F1 0%, #1153FC 100%);
    --background-gradient-h: linear-gradient(-45deg, #00F7A7 0%, #04F5ED 100%);
    --background-gradient-i: linear-gradient(-45deg, #FFE324 0%, #FFB533 100%);
    --background-gradient-j: linear-gradient(-45deg,  	#eeeeee 0%, #fcfcfc 100%);

    /*CORPORATE AND SERIUS COLORS*/
    --c-color-a: #3e4f59;
    --c-color-b: #72cccd;
    --c-color-c: #06aaac;
    --c-color-d: #900603;
    --c-color-e: #454547;
    --c-color-f: #1b1b1b;
    --c-color-g: #e0e0e0;
    --c-color-i: #eeeeee;
    --c-color-h: #1153FC;
    --c-color-o: #F54864;
    --c-color-p: #ff7b7b;
    /*WHITE COLORS*/
    --c-color-j: #fafafa;
    --c-color-k: #eceff1;
    /*DARK*/
    --c-color-l: #1b1b1b;
    --c-color-m: #6d6d6d;
    --c-color-n: #424242;
    /*LINKS*/
    --c-color-link1:#161514;
    --c-color-link2:#292b3a;

    /*BOX SHADOWS*/
    --shadow-general: 1px 1px 20px 3px var(--c-color-e);
    --shadow-toBack: 1px 1px 5px 1px var(--c-color-a);
    --shadow-light: 0px 1px 1px 1px #F54864;
    --shadow-blog: 0px 1.2px 3.5px var(--c-color-m);
}
@font-face {
    font-family: 'NatureBeauty';
    src: url('Fonts/Nature_Beauty.ttf') format('truetype');
}
@font-face {
    font-family: 'Starboard';
    src: url('Fonts/Starboard.otf');
}
@font-face {
    font-family: 'Heavitas';
    src: url('Fonts/Heavitas.ttf') format('truetype');
}
@font-face {
    font-family: 'Grobe deutch';
    src: url('Fonts/GrobeDeutschmeister.ttf');
}
@font-face {
    font-family: 'Old deutchland';
    src: url('Fonts/OldDeutschland.ttf');
}
@font-face {
    font-family: 'Autobahn';
    src: url('Fonts/Autobahn.ttf');
}
@font-face {
    font-family: 'Mont';
    src: url('Fonts/Mont-ExtraLightDEMO.otf');
}
@font-face {
    font-family: 'Cavas Nera';
    src: url('Fonts/CavasNeraFree.ttf');
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    /*background: var(--color-white);*/
    /*background: var(--background-gradient-a);
    font-family: var(--font-kant);*/
           background-color: #ffffff;
  }
h1, h3, h2 {
    font-family: 'Grobe deutch';
    color: var(--c-color-link2);
}
p {
    font-family: 'Mont';
    font-weight: bold;
    color: var(--c-color-link2);
} 
a {
    text-decoration: none;
    color: var(--c-color-link2);
}
a:hover {
    color: var(--c-color-d);
}
a:active {
    color: var(--c-color-k);
}
.font-anton {
    font-family: 'Anton', sans-serif;
}
.border-style1 {
    border-bottom: 2px groove #bdbdbd;
}

.gradient-b {
    background: var(--background-gradient-b);
}
.gradient-c {
    background: var(--background-gradient-c);
}
.gradient-d {
    background: var(--background-gradient-d);
}
.gradient-e {
    background: var(--background-gradient-e);
}
.gradient-f {
    background: var(--background-gradient-f);
}
.gradient-g {
    background: var(--background-gradient-g);
}
.gradient-h {
    background: var(--background-gradient-h);
}
.gradient-i {
    background: var(--background-gradient-i);
}
.image-effect-tilt > img {
    transform-origin:center;
    transition: transform 0.5s ease-in-out;
}
.image-effect-tilt:hover > img {
    transform: rotate(-5deg) scale(1);
}
footer {
    margin-top: 10%;
    border-top: 2px solid var(--c-color-p);
}
.col-2 {
    flex: 1 1 40%;
}
.center-text {
    text-align: center;
}
.button-simple-1 {
    background-color: transparent;
    border: none;
    text-align: center;
    width: 50%;
}
.button-simple-1:hover {
    border: none;
    width: 50%;
}
.button-simple-1 > a, .button-simple-2 > a {
    color: var(--c-color-f);
    font-family: 'Mont';
    padding: 1%;
    text-decoration: none;
    font-weight: bold;
}
.button-simple-1 > a:hover{
    color: var(--c-color-o);
}
.button-simple-2 {
    background-color: transparent;
    border: 3px dashed var(--c-color-o);
    border-radius: 15px;
    display: block;
    width: 30%;
}
.button-simple-2:hover {
    border: none;
    background-color: var(--c-color-o);
    width: 30%;
    padding: 1%;
}
.button-simple-2 > a:hover {
    color: var(--c-color-j);
}
.width100 {
    width: 100%;
}
.button-A {
    border: 1px solid #dbdcff;
    border-radius: 5px;
    box-shadow: var(--shadow-blog);
}
.button-A > a {
    font-family: var(--font-kant);
    font-size: 1.3em;
}
.fontStyle1 {
    font-family: var(--font-bungeeShade);
    font-size: 2.5em;
    color: var(--c-color-m);
}
.node:hover {
    color: #59981A;
}
.vue:hover {
    color: #81B622;
}
.mongo:hover {
    color: #76B947;
}
.alexa:hover {
    color: #189AB4;
}
.bootstrap:hover {
    color: #A16AE8;
}
.photoshop:hover {
    color: #05445E;
}
.blockchain:hover {
    color: #DF362D;
}
/*MARGENES*/
.margin-t-4 {
    margin-top: -4%;
}
.kit-3 {
    width: 310px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
ul > li > a {
    font-family: 'Mont';
}