@media only screen and (max-width: 675px) {
    pre {
        width: 250px;
        padding: 4%;
        overflow: auto;
    }
    iframe {
        width: 280px;
    }
    .site-header {
        background-image: var(--image-header);
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        min-height: 100vh;
        background-color:  	#900603;
        background-blend-mode: soft-light;
    }
    .container-two-child:nth-child(1) > p {
        font-size: 1.5rem;
    }
    .container-two-child:nth-child(2) > img {
        display: none;
    }
    /*///////////////////////////////////
    PARTE 1 SECTION
    /////////////////////////////////////*/
    .column3 {
        flex: 1 1 30%;
    }
    .back-grey {
        background-color: var(--c-color-g);
    }
    .padding-left-3 {
        padding-left: 3%;
    }
    .padding-left-right-5 {
        padding: 0 5% 0 5%;
    }
    .justify {
        text-align: justify;
    }
    .material-icons {
        padding-left: 5%;
    }
    .column3 > h2 {
        font-size: 1.5rem;
    }
    .column3 > p {
        font-size: 1rem;
    }
    /*///////////////////////////////////
    PARTE 2 SECTION
    /////////////////////////////////////*/
    
    .card-design-1 {
        background-color: var(--c-color-white);
        border-radius: 20px;
        margin: 1%;
        box-shadow: 5px 5px 50px -26px #b2abb5;
    }
    .card-design-1 > img {
        width: 90%;
        height: 200px;
        position: relative;
        top: 15px;
        left: 5%;
        margin: 0;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 0px 1px 15px -5px rgba(184,159,159,0.75);
    }
    .card-design-1 > h6 {
        line-height: 0.1px;
        color: var(--c-color-c);
    }
    .card-design-1 > button {
        margin: 0 0 5% 5%;
    }
    .padding-left-5 {
        padding-left: 5%;
    }
    .padding-left-7 {
        padding-left: 7%;
    }
    .padding-left-right-5 {
        padding: 0 5% 0 5%;
    }
    /*///////////////////////////////////
    PARTE 4 SECTION
    /////////////////////////////////////*/
    .jaconda-container {
        order: 1;
        flex: 1 5 30%;
        margin-right: -50%;
    }
    .jaconda {
        border-radius: 10%;
        width: 60%;
        margin: 2%;
        border: 2px solid var(--color-white);
        object-fit: cover;
    }
    .me-container {
        order: 2;
        flex: 1 1 10%;
    }
    .me-container > p {
        width: auto;
        margin: 8%;
    }
    .me-container > h1 {
        margin: 0 0 0 5%;
    }
    .align-right {
        text-align: right;
    }
    .column8 {
        flex: 1 1 12.5%;
        align-self: flex-start;
    }
    .image-width-50 {
        width: 50%;
    }
    .image-width-70 {
        width: 50%;
    }
    /*///////////////////////////////////
    PARTE 5 SECTION
    /////////////////////////////////////*/
    .button-simple-2 {
        width: fit-content;
    }
  }