@media only screen and (max-width: 675px) {
    header {
        background-image: url("../images/header.jpg");
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        min-height: 100vh;
        background-color:  	#900603;
        background-blend-mode: soft-light;
    }
    .container-two-child:nth-child(1) > p {
        font-size: 1.5rem;
    }
    .container-two-child:nth-child(2) > img {
        display: none;
    }
    /*///////////////////////////////////
    PARTE 1 SECTION
    /////////////////////////////////////*/
    .column3 {
        flex: 1 1 30%;
    }
    .back-grey {
        background-color: var(--c-color-g);
    }
    .padding-left-3 {
        padding-left: 3%;
    }
    .padding-left-right-5 {
        padding: 0 5% 0 5%;
    }
    .justify {
        text-align: justify;
    }
    .material-icons {
        padding-left: 5%;
    }
    .column3 > h2 {
        font-size: 1.5rem;
    }
    .column3 > p {
        font-size: 1rem;
    }
    /*///////////////////////////////////
    PARTE 2 SECTION
    /////////////////////////////////////*/
    .card-design-1 {
        background-color: var(--c-color-i);
        border-radius: 15px;
        margin: 5%;
        box-shadow: 0px 1.2px 3.2px 0.2px #b2abb5;
        border: 1px solid #dbdcff;
    }
    .card-design-1 > img {
        width: 100%;
        height: 200px;
        position: relative;
        top: 0;
        left: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        border-bottom: 1px dashed #b2abb5;
    }
    .card-design-1 > h6 {
        line-height: 0.1px;
        color: var(--c-color-c);
    }
    .card-design-1 > button {
        margin: 0 0 5% 5%;
    }
    .padding-left-5 {
        padding-left: 5%;
    }
    .padding-left-7 {
        padding-left: 7%;
    }
    .padding-left-right-5 {
        padding: 0 5% 0 5%;
    }
    /*///////////////////////////////////
    PARTE 4 SECTION
    /////////////////////////////////////*/
    .jaconda {
        width: 100%;
    }
    .align-right {
        text-align: right;
    }
    .column8 {
        flex: 1 1 12.5%;
        align-self: flex-start;
    }
    .image-width-50 {
        width: 50%;
    }
    .image-width-70 {
        width: 50%;
    }
    /*///////////////////////////////////
    PARTE 5 SECTION
    /////////////////////////////////////*/
    
  }