<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>{{page.title}}</title>
        {% include head2.html %}
      </head>
      <body>
        <section id="nav">
          {% include navBlog.html %}
        </section>
        <section id="About-first">
          <div class="container-column-full">
            <img class="img-full-300" src="{{page.image1}}">
            <h1 class="about-special-title">{{page.title-A}}</h1>
          </div>
        </section>
        <section>
          <div class="container-column margin-top-5">
              <hr class="divider-A">
              <p class="center-text p-about">{{page.firstSection}}</p>
              <hr class="divider-A">
          </div>
        </section>
        <section>
          <div class="container-column">
            <div class="container-row">
              <div class="row2">
                <img src="{{page.image2}}">
              </div>
              <div class="row2">
                <p class="p-about">{{page.about-history-A}}</p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="container-column">
            <div class="container-row">
              <div class="row2">
                <p class="p-about">{{page.about-history-B}}</p>
              </div>
              <div class="row2">
                <img src="{{page.image3}}">
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="container-column">
            <div class="container-row">
              <div class="row2">
                <img src="{{page.image4}}">
              </div>
              <div class="row2">
                <p class="p-about">{{page.about-history-C}}</p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="container-column margin-top-5">
              <hr class="divider-A">
              <p class="center-text p-about">{{page.secondSection}}</p>
              <hr class="divider-A">
          </div>
        </section>
        <section>
          <div class="container-column">
            <div class="container-row">
              <div class="column3 card-design-2">
                <img src="{{page.image5}}">
                <h1 class="center-text">{{page.title-D}}</h1>
                <p class="center-text">{{page.about-history-D}}</p>
              </div>
              <div class="column3 card-design-2">
                <img src="{{page.image7}}">
                <h1 class="center-text">{{page.title-E}}</h1>
                <p class="center-text">{{page.about-history-E}}</p>
              </div>
              <div class="column3 card-design-2">
                <img src="{{page.image6}}">
                <h1 class="center-text">{{page.title-F}}</h1>
                <p class="center-text">{{page.about-history-F}}</p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <hr class="divider-A">
          {% include footer2.html %}
        </section>
      </body>
</html>