<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>{{page.title}}</title>
        <meta property="og:title" content="{{page.title}}"/>
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{page.metaDescripcion}}">
        <meta property="og:url" content="{{page.url}}">
        {% include head2.html %}
      </head>
      <body>
        <section>
          {% include navBlog.html %}
        </section>
        <section id="content">
          <div class="container-post">
            <div class="row">
              {{ page.content }}
            </div>
          </div>
        </section>
        <section id="articulos">
          <div class="container-column">
            <div class="container-row">
              <div class="column3 card-design-1">
                <img src="{{page.image1}}" alt="casos de competición IBM">
                <h2 class="padding-left-5">{{page.part2-carta1-titulo}}</h2>
                <p class="padding-left-right-5 kit-3">{{page.part2-carta1-parrafo}}</p>
                <button class="button-simple-1"><a href="/blog_posts/17-11-2021.html">{{page.button1}}</a></button>
              </div>
              <div class="column3 card-design-1">
                <img src="{{page.image2}}" alt="Reflexiones 2022">
                <h2 class="padding-left-5">{{page.part2-carta2-titulo}}</h2>
                <p class="padding-left-right-5 kit-3">{{page.part2-carta2-parrafo}}</p>
                <button class="button-simple-1"><a href="/blog_posts/31-12-2021.html">{{page.button1}}</a></button>
              </div>
              <div class="column3 card-design-1">
                <img src="{{page.image3}}" alt="Agricultura Maya">
                <h2 class="padding-left-5">{{page.part2-carta3-titulo}}</h2>
                <p class="padding-left-right-5 kit-3">{{page.part2-carta3-parrafo}}</p>
                <button class="button-simple-1"><a title="Agricultura maya" href="/blog_posts/30-01-2022.html">{{page.button1}}</a></button>
              </div>
            </div>
          </div>
          <div class="container-column">
            <div class="container-row">
              <div class="column3 card-design-1">
                <img src="{{page.image4}}" alt="casos de competición IBM">
                <h2 class="padding-left-5">{{page.part2-carta4-titulo}}</h2>
                <p class="padding-left-right-5 kit-3">{{page.part2-carta4-parrafo}}</p>
                <button class="button-simple-1"><a href="{{page.enlace4}}">{{page.button1}}</a></button>
              </div>
              <div class="column3 card-design-1">
                <img src="{{page.image5}}" alt="Reflexiones 2022">
                <h2 class="padding-left-5">{{page.part2-carta5-titulo}}</h2>
                <p class="padding-left-right-5 kit-3">{{page.part2-carta5-parrafo}}</p>
                <button class="button-simple-1"><a href="{{page.enlace5}}">{{page.button1}}</a></button>
              </div>
              <div class="column3 card-design-1">
                <img src="{{page.image6}}" alt="Agricultura Maya">
                <h2 class="padding-left-5">{{page.part2-carta6-titulo}}</h2>
                <p class="padding-left-right-5 kit-3">{{page.part2-carta6-parrafo}}</p>
                <button class="button-simple-1"><a title="{{page.part2-carta6-titulo}}" href="{{page.enlace6}}">{{page.button1}}</a></button>
              </div>
            </div>
          </div>
        </section>
        

      </body>
</html>