<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>{{page.title}}</title>
        {% include head.html %}
    </head>
    <body>
        <header>
          <div class="container-column-nav">
            <div class="container-nowrap nav-aml">
              <div class="column4 center-text tags-margin"><a href="/" class="">Home</a></div>
              <div class="column4 center-text tags-margin"><a href="/about" class="">About us</a></div>
              <div class="column4 center-text tags-margin"><a href="/contact" class="">Contact us</a></div>
            </div>
          </div>
        </header>
        <section id="first" class="full-new">
          <div class="container-column">
            <div class="container-row">
              <div class="column-65 card-image">
                <!--<img class="shadow-blog" src="{{page.image1}}">-->
                <h1 class="">{{page.titulo1}}</h1>
                <p>{{page.subtitle1}}</p>
                <a href="{{page.post1}}">{{page.link1}}</a>
              </div>
            </div>
          </div>
        </section>
        <section id="second" class="two-news">
        </section>
        {% include footer.html %}
    </body>
</html>