<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>{{page.title}}</title>
        {% include head.html %}
    </head>
    <body>
        <section id="nav">
            {% include navBlog.html %}
        </section>
        <section id="About-first">
            <div class="container-column-full">
              <img class="img-full-300" src="{{page.image1}}">
              <h1 class="about-special-title">{{page.title-A}}</h1>
            </div>
          </section>
          <section>
            <div class="container-column margin-top-5">
                <hr class="divider-A">
                <p class="center-text p-about">{{page.firstSection}}</p>
                <hr class="divider-A">
            </div>
          </section>
          <section>
              <div class="container-column">
                  <div class="container-row">
                      <div class="row2 card-design-2">
                          <img src="{{page.image2}}">
                          <h1 class="center-text">{{page.title-B}}</h1>
                          <p class="center-text">{{page.description-B}}</p>
                          <p class="center-text">{{page.email}}</p>
                          <button class="button-A margin-button-A">
                              <a href="mailto:{{page.email}}">Send an email directly</a>
                          </button>
                      </div>
                      <div class="row2 card-design-2">
                          <img src="{{page.image3}}">
                          <h1 class="center-text">{{page.title-C}}</h1>
                          <p class="center-text">{{page.description-C}}</p>
                          <p class="center-text">{{page.telefono}}</p>
                          <p class="center-text">{{page.direccion}}</p>
                      </div>
                  </div>
              </div>
          </section>
          <section>
              {% include footer2.html %}
          </section>
    </body>
</html>