<!DOCTYPE html>
<html lang="en-us">
    <head>
      <title>{{page.title}}</title>
    <meta property="og:title" content="{{page.Meta-title}}"/>
    <meta name="title" content="{{page.Meta-title}}"/>
    <meta name="description" content="{{page.Meta-description}}">
    <meta property="og:description" content="{{page.Meta-description}}"/>
    <meta name="copyright" content="{{page.Meta-copyright}}"/>
    <meta name="keywords" content="{{page.Meta-keywords}}"/>
    <meta property="og:type" content="{{page.Meta-type}}"/>
    <meta property="og:url"content="{{page.Meta-url}}"/>
    <meta property="og:image" content="./images/{{page.Meta-image}}"/>
      {% include head.html %}
    </head>
    
    
    <body>
        <header class="site-header" role="banner">
            {% include nav.html %}
            <div id="container-header">
              <div class="container-two">
                <div class="container-two-child">
                  <h1>{{page.descriptionTitle}}</h1>
                  <p>{{page.descriptionA}}</p>
                </div>
              </div>
            </div>  
        </header>

          <section id="part2">
            <div class="container-column">
              <div>
                <h1 class="text-3rem">Artículos</h1>
                <p class="fontSize2 margin-t-4">Tutoriales - proyectos - ideas</p>
              </div>
            </div>
            <div class="container-column">
              <div class="container-row">
                <div class="column3 card-design-1">
                  <img src="{{page.image4}}" alt="{{page.image4Alt}}">
                  <p class="padding-left-right-5"><span class="label-A">{{page.part2-carta1-label1}}</span><span class="label-A">{{page.part2-carta1-label2}}</span></p>
                  <h2 class="padding-left-5">{{page.part2-carta1-titulo}}</h2>
                  <p class="padding-left-right-5 kit-3">{{page.part2-carta1-parrafo}}</p>
                  <button class="button-simple-1"><a href="{{page.part2-carta1-parrafo-enlace}}">{{page.button1}}</a></button>
                </div>
                <div class="column3 card-design-1">
                  <img src="{{page.image5}}" alt="Java curso">
                  <p class="padding-left-right-5"><span class="label-A">{{page.part2-carta2-label1}}</span><span class="label-A">{{page.part2-carta2-label2}}</span></p>
                  <h2 class="padding-left-5">{{page.part2-carta2-titulo}}</h2>
                  <p class="padding-left-right-5 kit-3">{{page.part2-carta2-parrafo}}</p>
                  <button class="button-simple-1"><a href="{{page.part2-carta2-parrafo-enlace}}">{{page.button1}}</a></button>
                </div>
                <div class="column3 card-design-1">
                  <img src="{{page.image3}}" alt="Reformas Borbónicas">
                  <p class="padding-left-right-5"><span class="label-A">{{page.part2-carta3-label1}}</span><span class="label-A">{{page.part2-carta3-label2}}</span></p>
                  <h2 class="padding-left-5">{{page.part2-carta3-titulo}}</h2>
                  <p class="padding-left-right-5 kit-3">{{page.part2-carta3-parrafo}}</p>
                  <button class="button-simple-1"><a title="Reformas Borbónicas" href="{{page.part2-carta3-parrafo-enlace}}">{{page.button1}}</a></button>
                </div>
              </div>
            </div>
          </section>
          <section id="part3">
            <div class="container-column">
              <div class="container-row">
                <div class="column3 card-design-1">
                  <img src="{{page.image11}}" alt="{{page.image11Alt}}">
                  <h2 class="padding-left-5">{{page.part3-carta4-titulo}}</h2>
                  <p class="padding-left-right-5 kit-3">{{page.part3-carta4-parrafo}}</p>
                  <button class="button-simple-1"><a title="Area bajo la curva ejercicios resueltos 4.1" href="{{page.part3-carta4-parrafo-enlace}}">{{page.button1}}</a></button>
                </div>
                <div class="column3 card-design-1">
                  <img src="{{page.image1}}" alt="Reflexiones 2022">
                  <h2 class="padding-left-5">{{page.part3-carta5-titulo}}</h2>
                  <p class="padding-left-right-5 kit-3">{{page.part3-carta5-parrafo}}</p>
                  <button class="button-simple-1"><a title="Reflexiones 2022" href="{{page.part3-carta5-parrafo-enlace}}">{{page.button1}}</a></button>
                </div>
                <div class="column3 card-design-1">
                  <img src="{{page.image2}}" alt="IBM 2021">
                  <h2 class="padding-left-5">{{page.part3-carta6-titulo}}</h2>
                  <p class="padding-left-right-5 kit-3">{{page.part3-carta6-parrafo}}</p>
                  <button class="button-simple-1"><a title="IBM Call for code 2021" href="{{page.part3-carta6-parrafo-enlace}}">{{page.button1}}</a></button>
                </div>
              </div>
            </div>

          </section>
         <section id="part4">
           <div class="container-column">
            <div class="container-row card-design-1">
              <div class="jaconda-container">
                <img class="jaconda" src="{{page.image10}}">
              </div>
              <div class="me-container">
                <h1 class="text-3rem">{{page.part4-titulo}}</h1>
                <p class="fontSize2 margin-t-4">{{page.part4-legend}}</p>
                <div class="container-nowrap">
                  <div class="column4 tags-margin"><a href="https://nodejs.org/en/" class="tags">NodeJs</a></div>
                  <div class="column4 tags-margin"><a href="https://vuejs.org/" class="tags">VueJs</a></div>
                  <div class="column4 tags-margin"><a href="https://www.mongodb.com/" class="tags">Mongo</a></div>
                  <div class="column4 tags-margin"><a href="https://developer.amazon.com/en-US/alexa" class="tags">Alexa</a></div>
                  <div class="column4 tags-margin"><a href="https://getbootstrap.com/" class="tags">Bootstrap</a></div>
                  <div class="column4 tags-margin"><a href="https://www.photoshop.com/en" class="tags">Photoshop</a></div>
                  <div class="column4 tags-margin"><a href="https://eos.io/" class="tags">Blockchain</a></div>
                </div>
              </div>  
              </div>
            </div>
           </div>
         </section>

         <section id="part5">
          <div class="container-column">
            <div class="container-row">
              <div class="column3 card-design-1">
                <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@jorgeaml46/video/7079985932962778373" data-video-id="7079985932962778373" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@jorgeaml46" href="https://www.tiktok.com/@jorgeaml46">@jorgeaml46</a> <p>Adivinen que me toco hacer hoy</p> <a target="_blank" title="♬ Esta Vida - Jorge Celedón" href="https://www.tiktok.com/music/Esta-Vida-6976490187758569473">♬ Esta Vida - Jorge Celedón</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
              </div>
              <div class="column3 card-design-1">
                <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@jorgeaml46/video/7066972739877309701" data-video-id="7066972739877309701" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@jorgeaml46" href="https://www.tiktok.com/@jorgeaml46">@jorgeaml46</a> Emiratos &#38; Silvestre <a title="gatos" target="_blank" href="https://www.tiktok.com/tag/gatos">#gatos</a> <a title="domingo" target="_blank" href="https://www.tiktok.com/tag/domingo">#domingo</a> <a title="animals" target="_blank" href="https://www.tiktok.com/tag/animals">#animals</a> <a target="_blank" title="♬ STAY - The Kid LAROI &#38; Justin Bieber" href="https://www.tiktok.com/music/STAY-6981869640796342274">♬ STAY - The Kid LAROI &#38; Justin Bieber</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
              </div>
              <div class="column3 card-design-1">
                <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@jorgeaml46/video/7233173964644912389" data-video-id="7233173964644912389" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@jorgeaml46" href="https://www.tiktok.com/@jorgeaml46?refer=embed">@jorgeaml46</a> <a title="xyz" target="_blank" href="https://www.tiktok.com/tag/xyz?refer=embed">#xyz</a> <a title="perro" target="_blank" href="https://www.tiktok.com/tag/perro?refer=embed">#perro</a> <a title="campo" target="_blank" href="https://www.tiktok.com/tag/campo?refer=embed">#campo</a> <a target="_blank" title="♬ Party En El Agua" href="https://www.tiktok.com/music/Party-En-El-Agua-6853007871961991170?refer=embed">♬ Party En El Agua</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
              </div>
            </div>
          </div>
         </section>
          {% include footer.html %}
    </body>
    {% include scripts.html %}
</html>

