<!DOCTYPE html>
<html lang="en-us">
    <head>
      <title>{{page.title}}</title>
      {% include head.html %}
    </head>
    
    
    <body>
        <header class="site-header" role="banner">
            {% include nav.html %}
            <div id="container-header">
              <div class="container-two">
                <div class="container-two-child">
                  <h1>{{page.descriptionTitle}}</h1>
                  <p>{{page.descriptionA}}</p>
                </div>
              </div>
            </div>  
        </header>

          
          <section id="part2">
            <div class="container-column">
              <div>
                <h1 class="text-3rem">Artículos</h1>
                <p class="fontSize2 margin-t-4">Tutoriales - proyectos - ideas</p>
              </div>
            </div>
            <div class="container-column">
              <div class="container-row">
                <div class="column3 card-design-1">
                  <img src="{{page.image1}}">
                  <h2 class="padding-left-5">{{page.part2-carta1-titulo}}</h2>
                  <p class="padding-left-right-5 kit-3">{{page.part2-carta1-parrafo}}</p>
                  <button class="button-simple-1"><a href="/design/">{{page.button1}}</a></button>
                </div>
                <div class="column3 card-design-1">
                  <img src="{{page.image2}}">
                  <h3 class="padding-left-5">{{page.part2-carta2-titulo}}</h3>
                  <h6 class="padding-left-5">{{page.section0}}</h6>
                  <p class="padding-left-right-5 justify">{{page.part2-carta2-parrafo}}</p>
                  <button class="button-simple-1"><a href="#">{{page.button1}}</a></button>
                </div>
                <div class="column3 card-design-1">
                  <img src="{{page.image3}}">
                  <h3 class="padding-left-5">{{page.part2-carta3-titulo}}</h3>
                  <h6 class="padding-left-5">{{page.section0}}</h6>
                  <p class="padding-left-right-5 justify">{{page.part2-carta3-parrafo}}</p>
                  <button class="button-simple-1"><a href="#">{{page.button1}}</a></button>
                </div>
              </div>
            </div>
          </section>
          <section id="part3">
            <div class="container-column">
              <div class="container-row">
                <div class="column3 card-design-1">
                  <img src="{{page.image8}}">
                  <h3 class="padding-left-5">{{page.part3-carta1-titulo}}</h3>
                  <h6 class="padding-left-5">{{page.section0}}</h6>
                  <p class="padding-left-right-5 justify">{{page.part3-carta1-parrafo}}</p>
                  <button class="button-simple-1"><a href="#">{{page.button1}}</a></button>
                </div>
                <div class="column3 card-design-1">
                  <img src="{{page.image9}}">
                  <h3 class="padding-left-5">{{page.part3-carta2-titulo}}</h3>
                  <h6 class="padding-left-5">{{page.section0}}</h6>
                  <p class="padding-left-right-5 justify">{{page.part3-carta2-parrafo}}</p>
                  <button class="button-simple-1"><a href="#">{{page.button1}}</a></button>
                </div>
                <div class="column3 card-design-1">
                  <img src="{{page.image5}}">
                  <h3 class="padding-left-5">{{page.part3-carta3-titulo}}</h3>
                  <h6 class="padding-left-5">{{page.section0}}</h6>
                  <p class="padding-left-right-5 justify">{{page.part3-carta3-parrafo}}</p>
                  <button class="button-simple-1"><a href="#">{{page.button1}}</a></button>
                </div>
              </div>
            </div>
          </section>
         <section id="part4">
           <div class="container-column">
            <div class="container-row">
              <div class="column2">
                <img class="jaconda" src="{{page.image10}}">
              </div>
              <div class="column2">
                <h1 class="align-right padding-left-right-5 text-3rem">{{page.part4-titulo}}</h1>
                <p class="align-right padding-left-right-5 text-1_1rem">{{page.part4-legend}}</p>
                <p class="align-right padding-left-right-5 text-1_1rem">{{page.part4-legend2}}</p>
              </div>
            </div>
           </div>
         </section>
         <section id="part5">
          <div class="container-column">
            <h1 class="center-text text-3rem">{{page.part5-titulo}}</h1>
            <p class="center-text text-2rem">{{page.part5-parrafo}}</p>
          </div>
          <div class="container-column">
            <div class="container-nowrap">
              <div class="column4 center-text tags-margin"><a href="https://nodejs.org/en/" class="tags fontSize2 node">NodeJs</a></div>
              <div class="column4 center-text tags-margin"><a href="https://vuejs.org/" class="tags fontSize2 vue">VueJs</a></div>
              <div class="column4 center-text tags-margin"><a href="https://www.mongodb.com/" class="tags fontSize2 mongo">Mongo</a></div>
              <div class="column4 center-text tags-margin"><a href="https://developer.amazon.com/en-US/alexa" class="tags fontSize2 alexa">Alexa</a></div>
              <div class="column4 center-text tags-margin"><a href="https://getbootstrap.com/" class="tags fontSize2 bootstrap">Bootstrap</a></div>
              <div class="column4 center-text tags-margin"><a href="https://www.photoshop.com/en" class="tags fontSize2 photoshop">Photoshop</a></div>
              <div class="column4 center-text tags-margin"><a href="https://www.blockchain.com/" class="tags fontSize2 blockchain">Blockchain</a></div>
          </div>
         </section>
          {% include footer.html %}
    </body>
    {% include scripts.html %}
</html>

