<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        {% include head.html %}
    </head>
    <body>
        <header>
            {% include navDesign.html %}
        </header>
        <section>
            <div class="container-column">
                <h1 class="center-text fontStyle1">Find your next epic design with our bundles and FREE resources</h1>
            </div>
        </section>
        <section id="june21">
            <div class="container-column">
                <div class="container-row">
                    <div class="column3 card-design-1">
                        <img src="{{page.img7}}}">
                        <h3 class="padding-left-5">{{page.title7}}</h3>
                        <h6 class="padding-left-5">{{page.mark}} - {{page.label7}}</h6>
                        <p class="padding-left-right-5 justify">{{page.legend7}}</p>
                        <button class="button-simple-2">
                            <a href="{{page.link7}}">{{page.price7}}</a>
                        </button>
                    </div>
                    <div class="column3 card-design-1">
                        <img src="{{page.img8}}">
                        <h3 class="padding-left-5">{{page.title8}}</h3>
                        <h6 class="padding-left-5">{{page.mark}} - {{page.label8}}</h6>
                        <p class="padding-left-right-5 justify">{{page.legend8}}</p>
                        <button class="button-simple-2">
                            <a href="{{page.link8}}">{{page.price8}}</a>
                        </button>
                    </div>
                    <div class="column3 card-design-1">
                        <img src="{{page.img9}}">
                        <h3 class="padding-left-5">{{page.title9}}</h3>
                        <h6 class="padding-left-5">{{page.mark}} - {{page.label9}}</h6>
                        <p class="padding-left-right-5 justify">{{page.legend9}}</p>
                        <button class="button-simple-2">
                            <a href="{{page.link9}}">{{page.price9}}</a>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section id="june20">
            <div class="container-column">
                <div class="container-row">
                    <div class="column3 card-design-1">
                        <img src="{{page.img4}}}">
                        <h3 class="padding-left-5">{{page.title4}}</h3>
                        <h6 class="padding-left-5">{{page.mark}} - {{page.label4}}</h6>
                        <p class="padding-left-right-5 justify">{{page.legend4}}</p>
                        <button class="button-simple-2">
                            <a href="{{page.link4}}">{{page.price4}}</a>
                        </button>
                    </div>
                    <div class="column3 card-design-1">
                        <img src="{{page.img5}}">
                        <h3 class="padding-left-5">{{page.title5}}</h3>
                        <h6 class="padding-left-5">{{page.mark}} - {{page.label5}}</h6>
                        <p class="padding-left-right-5 justify">{{page.legend5}}</p>
                        <button class="button-simple-2">
                            <a href="{{page.link5}}">{{page.price5}}</a>
                        </button>
                    </div>
                    <div class="column3 card-design-1">
                        <img src="{{page.img6}}">
                        <h3 class="padding-left-5">{{page.title6}}</h3>
                        <h6 class="padding-left-5">{{page.mark}} - {{page.label6}}</h6>
                        <p class="padding-left-right-5 justify">{{page.legend6}}</p>
                        <button class="button-simple-2">
                            <a href="{{page.link6}}">{{page.price6}}</a>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-column">
                <div class="container-row">
                    <div class="column3 card-design-1">
                        <img src="{{page.img1}}}">
                        <h3 class="padding-left-5">{{page.title1}}</h3>
                        <h6 class="padding-left-5">{{page.mark}} - {{page.label1}}</h6>
                        <p class="padding-left-right-5 justify">{{page.legend1}}</p>
                        <button class="button-simple-2">
                            <a href="{{page.graphics1}}">{{page.price1}}</a>
                        </button>
                    </div>
                    <div class="column3 card-design-1">
                        <img src="{{page.img2}}">
                        <h3 class="padding-left-5">{{page.title2}}</h3>
                        <h6 class="padding-left-5">{{page.mark}} - {{page.label2}}</h6>
                        <p class="padding-left-right-5 justify">{{page.legend2}}</p>
                        <button class="button-simple-2">
                            <a href="{{page.special1}}">{{page.price2}}</a>
                        </button>
                    </div>
                    <div class="column3 card-design-1">
                        <img src="{{page.img3}}">
                        <h3 class="padding-left-5">{{page.title3}}</h3>
                        <h6 class="padding-left-5">{{page.mark}} - {{page.label3}}</h6>
                        <p class="padding-left-right-5 justify">{{page.legend3}}</p>
                        <button class="button-simple-2">
                            <a href="{{page.special1}}">{{page.price3}}</a>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>