<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>{{page.title}}</title>
        <meta property="og:title" content="{{page.title}}"/>
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{page.metaDescripcion}}">
        <meta property="og:url" content="{{page.url}}">
        {% include head2.html %}
    </head>
    <body>
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v12.0" nonce="e3oJ2JdG"></script>
        <div class="container-post">
          <div class="row">
            <div class="container-two-post">
              <div class="izq">
                <div class="izq-container card-design-1">
                  <button class="button-simple-2"><a href="/">Regresar al inicio</a></button>
                  
                  <div>
                    {{page.content}}
                    
                    <ul>
                    {% assign postByYear = site.data.enlaces |sort:"month"| sort:"year" | reverse %}
                    {% for enlace in postByYear%}
                        <li>
                            <a href="{{enlace.enlace}}">{{ enlace.title}}</a>
                            <div id="row-tags-post">
                              <p class="tag-post">{{enlace.date}}</p>
                            </div>
                          <hr class="mapa-divider">  
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                </div>
              </div>
              <div class="der">
                <div class="der-container card-design-1">
                  <h2 class="center quotes">{{page.tarjetaTitulo}}</h2>
                  <p>{{page.tarjetaContenido}}</p>
                  <p>Fecha: {{page.tarjetaFecha}}</p>
                  <p>Publicado por: {{page.tarjetaCreador}}</p>
                  <div id="row-tags-post">
                    <div><p>Tags:</p></div>
                    <div><p class="tag-post">{{page.tag1}}</p></div>
                    <div><p class="tag-post">{{page.tag2}}</p></div>
                    <div><p class="tag-post">{{page.tag3}}</p></div>
                    <div><p class="tag-post">{{page.tag4}}</p></div>
                    <div><p class="tag-post">{{page.tag5}}</p></div>
                  </div>
                  <div id="row-tags-post">
                  <div class="fb-share-button" data-href="https://www.creativeaml.com/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.creativeaml.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
                  <div><a class="twitter-share-button"
                    href="{{page.twitter}}" data-size="large">
                  Tweet</a></div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
</html>