<!DOCTYPE html>
<html lang="en-us">
    <head>
    <title>{{page.title}}</title>
    <meta property="og:title" content="{{page.Meta-title}}"/>
    <meta name="title" content="{{page.Meta-title}}"/>
    <meta name="description" content="{{page.Meta-description}}">
    <meta property="og:description" content="{{page.Meta-description}}"/>
    <meta name="copyright" content="{{page.Meta-copyright}}"/>
    <meta name="keywords" content="{{page.Meta-keywords}}"/>
    <meta property="og:type" content="{{page.Meta-type}}"/>
    <meta property="og:url"content="{{page.Meta-url}}"/>
    <meta property="og:image" content="./images/{{page.Meta-image}}"/>
    </head>
    <body>
        Hola
    </body>
</html>