<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>{{page.title}}</title>
        <meta property="og:title" content="Creative AML Terminos y Condiciones"/>
        <meta name="description" content="Terminos y condiciones de JorgeAML">
        {% include head2.html %}
    </head>
    <body>
        <header class="site-header-b">
            {% include navBlog.html %}
        </header>
        <section id="post">
            <div class="container-column">
                <div class="post-design">
                    <h5 class="center-text">{{page.date}}</h5>
                    <h1 class="center-text">{{page.title}}</h1>
                    {{page.content}}
                </div>
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>